langchain==0.3.27
langchain-community==0.3.29
langchain-openai==0.3.32
langchain-anthropic==0.3.19
langchain-huggingface==0.3.1
langchain-experimental==0.3.4
langchain-tavily==0.2.11
python-dotenv>=1.1.1
pydantic>=2.11.7
duckduckgo-search>=8.1.1
pypdf>=6.0.0
tiktoken>=0.11.0
langgraph>=0.6.7
langgraph-supervisor>=0.0.29
grandalf>=0.8
pandas>=1.5.3
numpy>=1.26.0
scikit-learn>=1.2.2
tabulate>=0.9.0
missingpy>=0.2.0
pyppeteer>=2.0.0
matplotlib>=3.7.1
seaborn>=0.12.2
streamlit>=1.25.0
autogluon
langchain-faiss
faiss-cpu